<div class="container-target">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
        <a class="navbar-brand" href="#">
            <img src="~/imagenes/logo80x30.jpg" alt="">
        </a>
    

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Index">
                            <i class="fas fa-home"></i>
                            Home 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Terceros/MatrixGeneral">
                            <i class="fas fa-user-tie"></i>Mi Lider
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-digital-tachograph"></i>
                            Mis Operaciones
                        </a>
                        <div class="dropdown-menu">

                            <a class="dropdown-item" href="~/Terceros/MiMatrix">
                                <i class="fas fa-sitemap"></i>  Mi Matrix
                            </a>
                            <a class="dropdown-item" href="~/Terceros/Organizacion">
                                <i class="fas fa-layer-group"></i> Mi Estructura
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="~/Terceros/Perfil">
                                <i class="far fa-id-badge"></i> Mi Perfil
                            </a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-coins"></i>
                            Monedero
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="~/Diario/SolComprar">
                                <i class="fas fa-comments-dollar"></i>
                                Solicitar
                            </a>
                            <a class="dropdown-item" href="~/Diario/Transferir">
                                <i class="fas fa-exchange-alt"></i>  Transferir
                            </a>
                            <a class="dropdown-item" href="~/Diario/SolRetiro">
                                <i class="fas fa-money-check-alt"></i> Retirar
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="~/Terceros/Actividad">
                                <i class="fas fa-book-open"></i> Mis Movimientos
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Terceros/Actividad">
                            Balance General $ 10
                        </a>
                    </li>

                </ul>
                <ul class="navbar-nav ml-auto">
                   
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-digital-tachograph"></i>
                        Administrador
                    </a>
                    <div class="dropdown-menu">

                        <a class="dropdown-item" href="~/Administracion/ComprasPendientes">
                            <i class="fas fa-shopping-cart"></i>  Compras Pendientes
                        </a>
                        <a class="dropdown-item" href="~/Administracion/VentasPendientes">
                            <i class="fas fa-money-check-alt"></i>Pagos Pendientes
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-chalkboard-teacher"></i> Otro
                        </a>
                    </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Account/LogOff">
                            <i class="fas fa-sign-out-alt"></i>
                            Salir
                        </a>
                    </li>
                </ul>
            </div>
        
    </nav>
</div>
