<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="Google.Apis" version="1.48.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.48.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.48.0" targetFramework="net472" />
  <package id="Google.Apis.Drive.v2" version="1.48.0.2030" targetFramework="net472" />
  <package id="Google.Apis.Drive.v3" version="1.48.0.2030" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc.es" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor.es" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages.es" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net472" />
  <package id="MySql.Data" version="6.10.9" targetFramework="net472" />
  <package id="MySql.Data.Entity" version="6.10.9" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
</packages>